@mixin typography-heading-base {
  color: var(--rs-color-fg);
  font-family: var(--rs-font-family-sans);
  font-weight: var(--rs-font-weight-bold);
  line-height: var(--rs-line-height-tight);
  margin-bottom: var(--rs-heading-spacing-bottom);
  margin-top: var(--rs-heading-spacing-top);
}

@mixin typography-h1 {
  @include typography-heading-base;
  font-size: to-rem(32);

  @include media-breakpoint-up(sm) {
    font-size: to-rem(36);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-rem(44);
  }
}

@mixin typography-h2 {
  @include typography-heading-base;
  font-size: to-rem(28);

  @include media-breakpoint-up(sm) {
    font-size: to-rem(32);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-rem(38);
  }
}

@mixin typography-h2-alt {
  @include typography-h2;
  font-weight: var(--rs-font-weight-semibold);
  letter-spacing: 0.01em;
}

@mixin typography-h3 {
  @include typography-heading-base;
  font-size: to-rem(24);

  @include media-breakpoint-up(sm) {
    font-size: to-rem(28);
  }

  @include media-breakpoint-up(lg) {
    font-size: to-rem(32);
  }
}

@mixin typography-h4 {
  @include typography-heading-base;
  font-size: to-rem(21);

  @include media-breakpoint-up(md) {
    font-size: to-rem(24);
  }
}

@mixin typography-h5 {
  @include typography-heading-base;
  font-size: to-rem(18);
}

@mixin typography-h6 {
  @include typography-heading-base;
  font-size: to-rem(16);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
