@mixin typography-list {
  margin-block: 0 var(--rs-list-spacing-bottom, 16px);
  padding-inline-start: var(--rs-space-6, 24px);
}

@mixin typography-li {
  margin-block: var(--rs-space-2, 8px);
  padding-inline-start: var(--rs-space-1, 4px);
}

@mixin typography-ul {
  @include typography-list;
  list-style: disc;
}

@mixin typography-ol {
  @include typography-list;
  counter-reset: level1;
  list-style: none;
  padding-inline-start: var(--rs-space-5, 20px);

  > li {
    counter-increment: level1;
    list-style: none;
    position: relative;
  }

  > li::before {
    content: counter(level1) '.';
    left: calc(-1 * var(--rs-space-5, 20px));
    position: absolute;
  }

  > li > ol {
    counter-reset: level2;
    margin-top: var(--rs-space-2, 8px);
    padding-inline-start: var(--rs-space-5, 20px);
  }

  > li > ol > li {
    counter-increment: level2;
    list-style: none;
    position: relative;
  }

  > li > ol > li::before {
    content: counter(level2, lower-alpha) '.';
    left: calc(-1 * var(--rs-space-5, 20px));
    position: absolute;
  }

  > li > ol > li > ol {
    counter-reset: level3;
    margin-top: var(--rs-space-2, 8px);
    padding-inline-start: var(--rs-space-5, 20px);
  }

  > li > ol > li > ol > li {
    counter-increment: level3;
    list-style: none;
    position: relative;
  }

  > li > ol > li > ol > li::before {
    content: counter(level3, lower-roman) '.';
    left: calc(-1 * var(--rs-space-5, 20px));
    position: absolute;
  }
}
