---
import Container from '@rocketship/base/components/Container'
import Button from '@rocketship/base/components/Button'
---

<Container size="content" padded>
  <Button variant="primary">Primary</Button>
  <Button variant="secondary">Secondary</Button>
  <Button variant="ghost">Ghost</Button>
</Container>
